/* ============= /GENERAL ======= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
}

img{
    width: 100%;
}

h2, h4{
    font-size: 24px;
}
h2{
    color: #666;
    padding: 10px;
}
h4{
    margin: 0;
}
h5{
    font-size: 16px;
    margin: 0;
}
.amarillo{
    color: #EAC926;
}
.azul{
    color: #03264C;
}
.celeste{
    color: #1259c3;
}
.gris-oscuro{
    color: #666;
}
.gris-claro{
    color: #ebebeb;
}
.verde{
    color: #39b54a;
}

/* ============= /HEADER ======= */

header{
    padding-bottom: 15px;
    background-color: #EAC926;
}

header img{
    display: block;
    max-width: 140px;
    padding: 10px;
}

.contenedor-header-principal{
    display: block;
    padding: 20px 30px;
}

.contenedor-header-principal p{
    text-align: center;
    padding: 10px;
}

.btn-buscador{
    font-size: 12px;
    padding: 1px;
    color: #000;
    background-color: #ebebeb;
}

/* == /Nav ======= */

nav{
    display: none;
}

nav ul{
    list-style:none;
    padding: 0;
    margin: 0;
}

nav ul:nth-child(2) {
    margin-top: 20px;
}

nav a, nav a:hover, nav a:active, nav a:visited  {
    color: #000;
    text-decoration: none;
}


.burger-menu{
    display: block;
    width: 40px;
    height: 40px;
    padding: 8px 10px;
    margin: auto;
    color: #FFF;
    border-radius: 4px;
    background-color: #1259c3;
}


/* ============= /FIN HEADER ======= */

/* ============= /MAIN ======= */

main{
    background: #ebebeb;
    overflow: hidden;
}

main > section {
    width: 90%;
    margin: 10px auto;
}

/* Articulo */
main > section > article {
 
    background: #FFF;
    margin: 10px auto;
    box-shadow: 0px;
}

main > section > article > .contenedor__articulo{
    padding: 15px;
    border-top: 1px solid #ebebeb;
    text-align: left;
}


/* Imagen */
main > section:nth-child(1) > article:nth-child(2) > img{
    padding-bottom: 10px;
}

/* Envios */
main > section > article > div > div {
    font-size: 16px;
    padding-top: 12px;
    width:45px;
    height:45px;
    border-radius:50%;
    color: #39b54a;
    border: solid 2px #39b54a;;
    overflow:hidden;
    text-align: center;
    margin-bottom: 10px;

  }

/* Precios */
main > section > article > div > p:nth-child(2) {
    font-size: 18px;
    font-weight: 700;
}

/* Descuentos */
main > section > article > div > p:nth-child(3) {
    font-size: 16px;
    counter-reset: #39b54a;
}
/* Descripcion */
main > section > article > div > h4{
    display: none;
    font-size: 16px;
    margin-top: 20px;
}

/* ============= /FIN MAIN ======= */

/* ============= /FOOTER ======= */
footer{
    padding: 20px 20px 5px 20px;
}

footer article{
    text-align: center;
    margin: 40px 0;
}

footer article i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
    
}
footer article p{
    margin: 0;
    padding: 0 30px;
}


/* ============= /NAV TABLETS ======= */
@media (min-width: 361px){

    /* Descripcion */
    main > section > article > div > h4{
        display: inline;
    }
    nav{
        display: block;
    }
}

/* ============= /NAV DESKTOP ======= */
@media (min-width: 768px){
    main > section > article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .burger-menu{
        display: none;
    }
}